.container {
	max-width: 650px;
	padding: 0 20px;
}

.about {
	width: 100%;
}

.btn {
	width: 100%;
}

.output {
	margin-top: 40px;
}

#output-path {
	font-weight: bold;
}

#submit_button {
	background-color: #424242;
	transition: 0.4s;
}

#submit_button:hover,
#submit_button:active {
	background-color: #000000;
}
